@page "/addgame"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<nav>
    <a href="/" class="title">MY GAMES LIST</a>
    <a href="addgame" class="icon"><i class="fa-solid fa-plus fa-sm"></i></a>
</nav>

<main>
    <div class="row">
        <div class="col-4">
            <div class="card-info">
                    <div class="card-info-bar">
                        <h3>Add your new game</h3>
                    </div>
                    <div class="card-info-body">
                        <div class="row card-info-row">
                            <div class="col-3">
                                Title:
                            </div>
                            <div class="col-auto">
                                <InputText @bind-Value="newGame.Title" class="game-input" />
                            </div>
                        </div>
                        <div class="row card-info-row">
                            <div class="col-3">
                                Rating:
                            </div>
                            <div class="col-auto">
                                <InputNumber @bind-Value="newGame.Rating" class="game-input game-input-rating" />/10
                            </div>
                        </div>
                        <div class="row card-info-row">
                            <div class="col-3">
                                Release Date:
                            </div>
                            <div class="col-auto">
                                <InputDate @bind-Value="newGame.ReleaseTime" class="game-input" />
                            </div>
                        </div>
                        <div class="row card-info-row">
                            <div class="col-3">
                                Playing Since:
                            </div>
                            <div class="col-auto">
                                <InputDate @bind-Value="newGame.PlayingSinceTime" class="game-input" />
                            </div>
                        </div>
                        <div class="row card-info-row">
                            <div class="col-3">
                                Tags:
                            </div>
                            <div class="col-auto">
                                <span>
                                    @for (int i = 0; i < newGame.Tags.Count; i++)
                                    {
                                        @newGame.Tags[i]@(i < newGame.Tags.Count - 1 ? ", " : "")
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="row card-info-row">
                            <div class="col-3">
                                Desc:
                            </div>
                            <div class="col-auto">
                                <InputTextArea @bind-Value="newGame.Description" class="game-input" placeholder="describe your game here"/>
                            </div>
                        </div>
                    </div>
                    <button class="btn-confirm" @onclick="AddGame">Add game</button>
            </div>
        </div>
        <div class="col-3 helper-window">
            <div class="card-info">
                <div class="card-info-bar mb-0">
                    <h4>Choose your game tags</h4>
                </div>
                <div class="card-info-body">
                    @foreach(var tag in tags)
                    {
                        <div class="tag-select">
                            <a class="tag-name" @onclick="@(e => AddTag(@tag))">@tag</a> 
                            @if(newGame.Tags.Contains(tag))
                            {
                                <a class="btn-delete-tag" @onclick="@(e => DeleteTag(@tag))">X</a>
                            }
                        </div>
                    }
                </div>
                <div class="tag-input">
                    <input class="tag-search" type="text" placeholder="or add new tag..." @bind="newTag" @onkeyup="OnKeyPressed">
                    <a class="btn-add-tag" @onclick="AddNewTag">></a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card-info">
                <div class="card-info-bar mb-0">
                      <h4>Choose game icon</h4>
                </div>
                <InputSelect @bind-Value="newGame.ImageUri">
                    <option selected value="icon-star">Star</option>
                    <option value="icon-heart">Heart</option>
                    <option value="icon-triangle">Triangle</option>
                    <option value="icon-diamond">Diamond</option>
                    <option value="icon-circle">Circle</option>
                    <option value="icon-house">House</option>
                </InputSelect>
            </div>
        </div>
    </div>
    @if(message != String.Empty)
    {
        <h5 class="h5">@message</h5>
    }
</main>

@code {

    string message = String.Empty;
    GameDto newGame = new GameDto{
        ReleaseTime = DateOnly.FromDateTime(DateTime.Now),
        PlayingSinceTime = DateOnly.FromDateTime(DateTime.Now)
    };
    List<string> tags = new List<string>();
    List<string> originalTagList = new List<string>();

    string newTag = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        tags = await HttpClient.GetFromJsonAsync<List<string>>(NavigationManager.BaseUri + "api/tags") ?? tags;
        originalTagList = new List<string>(tags);
    }

    public async Task AddGame()
    {
        var response = await HttpClient.PostAsJsonAsync(NavigationManager.BaseUri + "api/games", newGame);
        if(response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            message = "Something went wrong, try again";
        }
    }

    public void AddTag(string name)
    {
        if(!newGame.Tags.Contains(name) && !string.IsNullOrWhiteSpace(name))
        {
            newGame.Tags.Add(name); 
            StateHasChanged();
            if(!tags.Contains(name))
            {
                tags.Add(name);
            }
        }
    }

    public void OnKeyPressed(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            string tempString = newTag.Trim();
            AddTag(tempString);
            newTag = "";
            StateHasChanged();
        }
    }

    public void AddNewTag()
    {
        if(!string.IsNullOrWhiteSpace(newTag))
        {
            string tempString = newTag.Trim();
            AddTag(tempString);
            newTag = "";
            StateHasChanged();            
        }
    }

    public void DeleteTag(string name)
    {
        newGame.Tags.Remove(name);
        if(!originalTagList.Contains(name))
        {
            tags.Remove(name);
        }
    }
}